In [9]:
from datetime import datetime
import pandas as pd
import numpy as np
now = datetime.now()
now

datetime.datetime(2020, 12, 11, 8, 43, 30, 319243)

In [2]:
now.year, now.month, now.day

(2020, 12, 11)

In [11]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [15]:
longer_ts = pd.Series(np.random.randn(1000),index=pd.date_range('1/1/2000', periods=1000))
longer_ts['2001-05']

2001-05-01   -2.250717
2001-05-02   -0.369828
2001-05-03   -0.920065
2001-05-04   -0.948028
2001-05-05    0.562941
2001-05-06    0.679808
2001-05-07   -0.367791
2001-05-08   -0.569190
2001-05-09   -0.124374
2001-05-10   -0.283981
2001-05-11    1.053306
2001-05-12    1.322273
2001-05-13    0.778218
2001-05-14    0.442408
2001-05-15    0.432002
2001-05-16   -0.496806
2001-05-17    0.637801
2001-05-18    0.664996
2001-05-19    1.330058
2001-05-20   -1.431651
2001-05-21   -0.334400
2001-05-22   -0.459567
2001-05-23   -0.342606
2001-05-24    0.169373
2001-05-25    1.248416
2001-05-26   -0.449438
2001-05-27    1.134291
2001-05-28   -0.433317
2001-05-29   -0.812133
2001-05-30   -1.226142
2001-05-31    1.370250
Freq: D, dtype: float64

In [88]:
pd.read_pickle('data/opt_lambda_stewa_game2_ses7_2')

,x,fun,jac,nit,nfev,njev,status,message,success
0,0.252485,564.8144,0.002167,6,18,6,0,Optimization terminated successfully,True

In [51]:
a=np.arange(5)
a[:-1]

array([0, 1, 2, 3])

In [91]:
-np.inf>10**200

False